

'fileTypes' : [
  'omm'
]
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.yNo'
'name' : 'yNo'

'repository' : {
  'main' : {
    'patterns' : [
      
      {
        'match' : '(b\\.[a-zA-Z0-9]{7}\\b)'
        'name' : 'hash.bitly.yno'
      }
      {
        'match' : '(y\\.[a-zA-Z0-9\\_\\-]{11})'
        'name' : 'hash.youtube.yno'
      }
      {
        'match' : '(\\.\\d{1,2}[smh](\\d{1,2}[smh])?(\\d{1,2}[smh])?\\b)'
        'name' : 'entity.name.function.yno'
      }
      {
        'match' : '([A-Z][^\\.]+)'
        'name' : 'entity.name.type.yno'
      }
      {
        'match' : '([a-z][^\\s\\.]+)'
        'name' : 'entity.name.tag.yno'
      }

      
      {
        'match' : '(^#.*)'
        'name' : 'comment.yno'
      }
    ]
  }
}
